<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Wallet</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/lib/css/toastr.min.css" type="text/css">
    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />


    <!--  Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'> -->
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
               <a href="#" class="simple-text">
                   USER-DETAILS
                </a>
            </div>

            <ul class="nav">
                <!-- <li class="active">
                    <a href="dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="wallet">
                         <i class="ti-wallet"></i>
                        <p>Wallet</p>
                    </a>
                </li> -->
                 <li>
                   <a href="dashboard">
                        <i class="ti-exchange-vertical"></i>
                        <p>Details</p>
                    </a>
                </li>
                 <!-- <li class="active-pro">
                    <a href="upgrade">
                        <i class="ti-settings"></i>
                        <p>setting</p>
                    </a>
                </li> -->
            </ul>
    	</div>
    </div>

  
    <div class="main-panel">
                <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>
                                    <p>User</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="#" onclick="logout()">Log Out</a></li>
                              </ul>
                        </li>
                        
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <form>
                <input id="user_email" type="text" required placeholder="email">
                <input id="user_name" type="text" required placeholder="name">
        
                <button type="button" onclick='addName()'>add</button>
               
                            
            </form>
            
            <table>
                <thead>
                <tr>
                  <th >email</th>
                  <th >name</th>
                  </tr>
                 </thead>
                 <tbody id="user_entry">
                   
                 </tbody>
                 </table>
            </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
            
                </nav>
                <div class="copyright pull-right">
                    &copy; designed by <a href="#" style="color: #000">Devgenesis</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="/lib/js/axios.min.js" type="text/javascript"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!--   Core JS Files   -->
    <script src="assets/js//jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js//bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js//paper-dashboard.js"></script>
    <script src="assets/js//demo.js"></script>

    <!-- <script src='/javascripts/walletmain.js' type="text/javascript"></script> -->
    <script src='./../javascripts/dashboard.js' type="text/javascript"></script>
    
    <script src='/lib/js//sha256.min.js' type="text/javascript" ></script>
    <script src="/lib/js//toastr.min.js" type="text/javascript"></script>
    <script src="./../public/stylesheets/style.css" type="css"></script>

</html>
