<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to index page</p>

    <button type="button" class="login text-center" value="Sign In" onclick="siPage()">signin </button>
    <button type="button" class="login text-center" value="Sign UP" onclick="suPage()">signup </button>
  </body>
</html>
