<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>WALLET</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/lib/css/toastr.min.css" type="text/css">
    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/morris.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'> -->
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>
<body>
  <div class="main-wthree">
  <div class="container">
  <div class="sin-w3-agile">
    <h2>Sign Up</h2>
    <form>
        <div class="username">
            <span class="username">Name:</span>
            <input type="text" class="name" placeholder="" required="true" id="name">
            <div class="clearfix"></div>
          </div>
      <div class="username">
        <span class="username">Email:</span>
        <input type="text" class="name" placeholder="" required="true" id="email">
        <div class="clearfix"></div>
      </div>
      <div class="password-agileits">
        <span class="username">Password:</span>
        <input type="password" class="password" placeholder="" required="true" id="password">
        <div class="clearfix"></div>
      </div>
      <div class="login-w3">
        <!-- <button class="login" id="signup" onclick="submit_signup()" type="">Register</button> -->
          <input type="button" class="login" value="Register" onclick="submit_signup()" id="signup">
      </div>

      <div>
        <p id="display_singnup">
        </p>
      </div>
      <div class="clearfix"></div>
    </form>
    <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
            
                </nav>
                <div class="copyright text-center">
                    &copy; designed by <a href="#" style="color: #000">Devgenesis</a>
                </div>
            </div>
        </footer>
  </div>
  </div>
  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
 <!--   Core JS Files   -->
 <script src="/lib/js/axios.min.js" type="text/javascript"></script>
 <script src='/lib/js/sha256.min.js' type="text/javascript" ></script>
 <script src="/lib/js/toastr.min.js" type="text/javascript"></script>
 <script src='/javascripts/signup.js' type="text/javascript"></script>

  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/paper-dashboard.js"></script>
  <script src="assets/js/demo.js"></script>



</html>