<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>WALLET</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/lib/css/toastr.min.css" type="text/css">
    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/morris.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'> -->
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>
<body>
<div class="main-wthree">
  <div class="container">
  <div class="sin-w3-agile">
    <h2>Sign In</h2>
    <form action="#" method="post">
      <div class="username">
        <span class="username">Username:</span>
        <input type="text" name="name" class="name" placeholder="" required="" id="email_signin">
        <div class="clearfix"></div>
      </div>
      <div class="password-agileits">
        <span class="username">Password:</span>
        <input type="password" name="password" class="password" placeholder="" required="" id="password_sigin">
        <div class="clearfix"></div>
      </div>
      <div class="rem-for-agile">
        <!-- <input type="checkbox" name="remember" class="remember">Remember me<br> -->
        <a href="signup" style="color: #fff; float:left; text-decoration:underline;" onclick="to_signup()">Sign Up</a>
        <!-- <a href="#" style="color: #fff; float:right;">Forgot Password ?</a><br> -->
      </div>
      <div class="login-w3" >
       <input type="button" class="login text-center" value="Sign In" onclick="signin_()">   
      </div>
      <div class="clearfix"></div>
    </form>
          <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
            
                </nav>
                <div class="copyright text-center">
                    &copy; designed by <a href="#" style="color: #000">Devgenesis</a>
                </div>
            </div>
        </footer>
  </div>
  </div>
  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/paper-dashboard.js"></script>
  <script src="assets/js/demo.js"></script>
  <script src='/javascripts/signin.js' type="text/javascript"></script>
  <script src="/lib/js/axios.min.js" type="text/javascript"></script>
  <script src='/lib/js/sha256.min.js' type="text/javascript" ></script>
  <script src="/lib/js/toastr.min.js" type="text/javascript"></script>

</html>
